<%= render 'form' %>
<div class="actions2"></div>
<%= link_to 'Show', [:admin, @banner], :class => 'button2' %> 
<%= link_to 'Back', admin_banners_path, :class => 'button2' %> 
<%= link_to 'Delete', [:admin, @banner], :confirm => 'Are you sure?', :method => :delete, :class => 'button2' %>
</div>