<ul>
	<li><a href="/admin/contents">Content</a> </li>
	<li><a href="/admin/books">Books</a> </li>
	<li><a href="/admin/blogs">Blog</a></li>
	<li><a href="/admin/type_blog_tags">Blog Tags</a> </li>
	<li><a href="/admin/banners">Banners</a> </li>
	<li><a href="/admin/recipes">Recipes</a> </li>
	<li><a href="/admin/friends">Friends</a> </li>
  <li><a href="/admin/printouts">Printouts</a></li>
  <li><a href="/admin/edu_printouts">Education Printouts</a></li>
  <li><a href="/admin/ringtones">Ringtones</a></li>
  <li><a href="/admin/songs">songs</a></li>
	<li><a href="/admin/screenplays">Stage Plays</a> </li>
	<li><a href="/admin/newsletters">Newsletters</a> </li>
	<li><a href="/admin/users">Users</a> </li>
	<li><a href="/admin/secforce">Security Force</a> </li>
	<li><a href="/admin/logout">Logout</a></li>
</ul>
