<div id="outerinner">
	<div class="header">
		<div id="clouds1"></div>
		<div id="clouds2"></div>
        <div class="grass">
            <div class="left-grass"></div>
            <div class="right-grass"></div>
        </div>
<!--
        <div class="left-grass-short"></div>
        <div class="right-grass-short"></div>
-->
        <div class="scene">
            <div class="scene-l"></div>
            <div class="scene-r"></div>
        </div>
<!--         <div class="scene-clouds"></div> -->
	</div>
	<div id="top">
		<div class="topinner">
			<div class="topsocial"><div class="fb-like" data-href="https://www.hankthecowdog.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div></div>
			<div><h1 class="logo"><a href="/">Hank the Cowdog</a></h1></div>
			<div class="search"><label for="topsearch">search the website</label><input type="text" id="topsearch" class="topsearch"><input type="submit" id="topsearchgo" class="go"></div>
			<div class="nav">
				<ul>
					<li class="books"><a href="/books">Books<br /><span>The Collection</span></a></li>
					<li class="fans"><a href="/fanzone">Fan Zone<br /><span>Fun &amp; Games</span></a></li>
					<li class="author"><a href="/author">Author<br /><span>Meet the Creator</span></a></li>
					<li class="store"><a href="<%= Settings.store_url_base %>">Store<br /><span>Books &amp; More</span></a></li>
				</ul>
			</div>
		</div><!--/topinner-->
	</div><!--/top-->
			<div class="rope"></div><!--/cwrope-->