<h1>Fan Zone</h1>
    <h4>Fun Games, activities and more!</h4>
    <div class="fanzone">
    		<div class="nav">
				<ul>
					<li><a href="/games">Games</a></li>
					<li><a href="/friends">Hank's Friends</a></li>
					<li><a href="/stageplays">Stage Plays</a></li>
					<li><a href="/author">Author</a></li>
					<li><a href="/recipes">Recipes</a></li>
					<li><a href="/concerts">Hank in Concert</a></li>
					<li><a href="/blog">The Blog</a></li>
					<li><a href="http://shop.hankthecowdog.com">Shop</a></li>
				
				</ul>
			</div>
	</div>
                      