<h1>Games</h1>
<h3>Play games with Hank and the gang.</h3>

<div class="thumbblock">
<a href="/games/memory/" class="thumb"><img src="/images/thumbs/g-memory.png" alt="memory"/></a>
<h2>Ranch Memory</h2>
<p>Test your memory skills by matching sets of 3 cards to clear the board.<br>
</p>
<a href="/games/memory/" class="go">Let's Go</a>
</div>

<div class="thumbblock">
<a href="/games/whackacoyote/" class="thumb"><img src="/images/thumbs/g-whack.png" alt="whack-a-coyote"/></a>
<h2>Whack-a-Coyote</h2>
<p>See how many pesky Coyotes you can whack as they come out of their cave.<br>
<span class="note">This game requires a modern web browser such as <a href="http://www.google.com/chrome">Google Chrome</a>.</span>
</p>
<a href="/games/whackacoyote/" class="go">Let's Go</a>
</div>

<div class="thumbblock">
<a href="/games/reaction/" class="thumb"><img src="/images/thumbs/g-speed.png" alt="Reaction Speed Test"/></a>
<h2>Reaction Speed Test</h2>
<p>Put your reflexes to the test with this simple speed game.<br>
</p>
<a href="/games/reaction/" class="go">Let's Go</a>
</div>

<div class="thumbblock">
<a href="/games/dogage/" class="thumb"><img src="/images/thumbs/g-dogage.png" alt="your age in dog years"/></a>
<h2>Dog Age Calculator</h2>
<p>Enter your age and find out how old you are in dog years.<br>
</p>
<a href="/games/dogage/" class="go">Let's Go</a>
</div>

<div class="thumbblock">
<a href="/games/tictactoe/" class="thumb"><img src="/images/thumbs/g-tictactoe.png" alt="tic-tac-toe"/></a>
<h2>Tic-Tac-Toe</h2>
<p>Test your skills on this classic game of strategy.<br>
</p>
<a href="/games/tictactoe/" class="go">Let's Go</a>
</div>

<div class="thumbblock">
<a href="/games/closet/" class="thumb"><img src="/images/thumbs/g-old.png" alt="older games"/></a>
<h2>Hank's Closet</h2>
<p>Here are some of our older games.<br>
</p>
<a href="/games/closet/" class="go">Let's Go</a>
</div>