<h1>Games</h1>
<h4>Play games with Hank and the gang.</h4>

<ul class="friends">

<a href="/games/memory/">
<li><img src="/images/thumbs/g-memory.png" alt="memory"/>
<h3>Ranch Memory</h3>
<p>Test your memory skills by matching sets of 3 cards to clear the board.</p>
</li></a>


<a href="/games/tictactoe/">
<li><img src="/images/thumbs/g-tictactoe.png" alt="tic-tac-toe"/>
<h3>Tic-Tac-Toe</h3>
<p>Test your skills on this classic game of strategy.
</p>
</li></a>

</ul>