<div class="scene">
	<a href="/" class="logo"><img src="images/320/logo.png" alt="hank the cowdog"></a>
</div>	
<div id="content">
			<div class="banner">
				<a href="<%= @banner.banner_link %>"><%= image_tag(@banner.banner_image.url) if @banner.banner_image? %></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/books">Books</a></li>
					<li><a href="/fanzone">Fan Zone</a></li>
					<li><a href="/music">Music</a></li>
					<li><a href="/educational">Education</a></li>
					<li><a href="/author">Author</a></li>
					<li><a href="http://shop.hankthecowdog.com">Shop</a></li>
				
				</ul>
			</div>
		<div class="icons">
		<a href="http://www.facebook.com/pages/Hank-The-Cowdog-Official-Fan-Club/200810493266783" target="_blank"><img src="images/320/icon-fb.jpg" alt="facebook"></a>
		<a href="http://twitter.com/hankthecowdog1/" target="_blank"><img src="images/320/icon-tw.jpg" alt="twitter"></a>
		<a href="/blog"><img src="images/320/icon-rss.jpg" alt="blog"></a>
		<a href="/contact"><img src="images/320/icon-em.jpg" alt="email"></a>
	</div>
</div><!--/content-->
<div class="footer">
<p>Copyright &copy; 2014, Maverick Books, Inc. <a href="/fullsite">View full website</a></p>
</div>
