<h1>Hank News Archive</h1>
<h3>Links to Hank in the News.</h3>

<div class="archiveguts">
	<h4>Interviews with John R. Erickson</h4>
	<ul>
		<li><a href="http://www.petliferadio.com/john_erickson.html">Pet Life Radio Interview</a></li>
		<li><a href="http://www.worldmag.com/articles/12469">World Magazine, Interview with Susan Olasky</a></li>
		<li><a href="http://jessemullins.com/?p=909">Something Solid, Interview with Jesse Mullins</a></li>
		<li><a href="http://www.btsb.com/libcorner/featured/about/index.php?name=John_Erickson">Bound-to-Stay-Bound Interview - Featured Author</a></li>
		<li><a href="http://www.missourilife.com/articles/cowboy-culture
">Missouri Life - Cowboy Culture</a></li>
		<li><a href="http://georgewbush-whitehouse.archives.gov/news/releases/2001/05/20010501-14.html">Teach for America Gala</a></li>

	


	</ul>
	
	<h4>Reviews of Hank the Cowdog</h4>
	<ul>
		<li><a href="http://www.worldmag.com/articles/12466">World Magazine</a></li>
		<li><a href="http://georgewbush-whitehouse.archives.gov/firstlady/initiatives/familyfavorites.html">Hank on "Laura's List"</a></li>
		<li><a href="http://www.theeagle.com/lifestyles/HanktheCowdogreachesmilestone_his50thstory">50th Anniversary</a></li>
		<li><a href="http://amarillo.com/stories/091209/new_news6.shtml">Featured in cowboy poet Baxter Black's "On the Edge of Common Sense"</a></li>
		<li><a href="http://reviews.publishersweekly.com/pw/print/20020805/20993-back-at-the-ranch-.html">Publisher's Weekly - "Back at the Ranch"</a></li>
	
	
	</ul>
	
	<h4>Hank Readers in the News</h4>
	<ul>
		<li><a href="http://www.connectamarillo.com/news/story.aspx?id=692789#.Tt_t2WAW8qs">Connection Amarillo</a></li>
		<li><a href="http://www.cleburnetimesreview.com/features/x480207363/Larue-Barnes-Steps-to-success">Justin Hewlett, mayor of Cleburne</a></li>
	</ul>
	<h4>Hank the Cowdog - Stage Plays</h4>
	<ul>
		<li><a href="http://www.yourhoustonnews.com/west_university/living/article_643f551c-42e9-5ccc-899e-1ed7d59ecf2b.html">Main Street Theater, Houston (Summer 2011)</a></li>
		<li><a href="http://houston.broadwayworld.com/article/Hank-the-Cowdog-Author-John-R-Erickson-Set-For-MST-79-20110706#">Main Street Theater</a></li>
		<li><a href="http://www.merchantherald.com/hank-the-cowdog-plays-hotchkiss/">"Hotchkiss" Play</a></li>
	</ul>
	<h4>Reviews of Story Craft</h4>
	<ul>
		<li><a href="http://www.worldmag.com/articles/16075">World Magazine</a></li>
		<li><a href="http://sntjohnny.com/front/book-review-story-craft-by-john-r-erickson/1140.html">St. Johnny</a></li>
		<li><a href="http://www.christianchronicle.org/article2159052~REVIEW%3A_Don%92t_compromise_your_values,_advises_%91Cowdog%92_author">Christian Chronicle</a></li>
		<li><a href="http://www.baptiststandard.com/index.php?option=com_content&task=view&id=11279&Itemid=42">The Baptist Standard</a></li>
	</ul>


	<h4>Essays by John R. Erickson</h4>
	<ul>
		<li><a href="http://americancowboy.com/culture/six-days-ablaze">"Six Days Ablaze," an essay by John R. Erickson, Winner of the
"Wrangler Award" from the National Cowboy and Western Heritage Museum</a></li>
	</ul>


	<h4>Other Maverick Books in the News</h4>
	<ul>
		<li><a href="http://www.baptiststandard.com/index.php?option=com_content&task=view&id=13244&Itemid=53">The Very Best Toy," by Gary Rinker</a></li>
		<li><a href="http://www.usabooknews.com/childpicturepbfiction.html">The Very Best Toy: Winner of USA Book News 'Best Books 2011' Award in
the Children’s Picture Book Softback fiction category</a></li>
	</ul>


</div>
<a href="/news" class="seemore">See More</a>
