<h1>Retailers' Information</h1>
<h3>Get Hank the Cowdog in your store.</h3>

<p>Thank you for your interest in having Hank the Cowdog books and other merchandise in your store! To request a catalog that includes our retailer discounts, please send an email to <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#110;&#x69;&#x6b;&#x6b;&#105;&#64;&#104;&#97;&#110;&#107;&#x74;&#104;&#101;&#99;&#x6f;&#x77;&#x64;&#111;&#x67;&#x2e;&#x63;&#111;&#x6d;">&#x6e;&#105;&#x6b;&#x6b;&#x69;&#x40;&#x68;&#x61;&#110;&#107;&#x74;&#x68;&#101;&#99;&#111;&#119;&#100;&#x6f;&#103;&#46;&#99;&#111;&#x6d;</a>. The process of setting you up as a vendor is very simple, and we'd be happy to send you additional information.</p>