<h1>Editing Stage Play</h1>

<%= render 'form' %>
<div class="actions2">
<%= link_to 'Show', [:admin, @screenplay], :class => 'button2' %> 
<%= link_to 'Back', admin_screenplays_path, :class => 'button2' %>
</div>
