<h1>Editing friend</h1>

<%= render 'form' %>
<div class="actions2">
<%= link_to 'Show', [:admin, @friend], :class => 'button2' %> 
<%= link_to 'Back', admin_friends_path, :class => 'button2' %>
</div>