<h1>Editing Ringtone</h1>

<%= render 'form' %>
<div class="actions2">
<%= link_to 'Show', [:admin, @ringtone], :class => 'button2' %>
<%= link_to 'Back', admin_ringtones_path, :class => 'button2' %>
</div>