<h1>The Case Of The Dancing Cowboy</h1>

<ul class="roundednav">
<li><a href="#one">1</a></li>
<li><a href="#two">2</a></li>
<li><a href="#three">3</a></li>
<li><a href="#four">4</a></li>
<li><a href="#five">5</a></li>
<li><a href="#six">6</a></li>
<li><a href="#seven">7</a></li>
<li><a href="#eight">8</a></li>
<li><a href="#nine">9</a></li>
<li><a href="#ten">10</a></li>
<li><a href="#eleven">11</a></li>
<li><a href="#twelve">12</a></li>
</ul>

<div class="serial" id="one">
<h2>Slim Hauls Garbage</h2>
<h3>Chapter 1</h3>
<img src="/images/dancingcowboy/pict_1.jpg" alt="the case of the dancing cowboy" />
<p>After a few warm days, 
    little shoots of grass had sprung up in the draws and along the creek, and 
    the cottonwoods, elms and hackberries had put out their leaves. 
    </p>
  <p> That green tint in the countryside had made everybody on the ranch feel better about 
    things. Loper and Slim had stopped feeding the cows and Sally May was planning 
    to host a dance in her yard. To prepare for that big social event, she had 
    launched a major Spring Cleaning Offensive.</p>
  <p> And since 
    Slim didn't have to make a feed run, she drafted him to carry garbage down 
    to the burn barrel. He didn't like that. I know, because I heard him grumbling 
    about it as he struggled down the hill with a sack of garbage in each arm.</p>
  <p> "A guy spends a whole lifetime training horses and learning to rope. He gets himself 
    a ranch job and takes some pride in his work, but what does he do on the first 
    pretty day of spring? He gets to haul garbage down to the burn barrel."</p>
  <p> He threw 
    the sacks into the barrel and stormed over to the overhead gas tank. He drew 
    a can full of gasoline and threw it into the barrel.</p>
  <p> Hmmm. It appeared that he planned to toss a match into the gasoline-soaked barrel. 
    I had watched him do this on other occasions, and I seemed to remember that 
    he always ended up regretting it. And saying, "Oops, I forgot to mix that 
    gas half-and-half with diesel, so's it wouldn't explode."</p>
  <p> But he was on a snort about injustice in the world and he wasn't paying attention to 
    his business. He went on with his speech and seemed to be addressing me and 
    Drover, as though we might be interested.</p>
  <p> We weren't. 
    We were merely there, and once trapped into listening to the sermon, we could 
    hardly get up and leave. That would have been impolite and would have made 
    him even madder.</p>
  <p> See, your 
    older and more experienced ranch dogs realize that part of our job is listening 
    to the complaints of our masters. It's just something we have to do.</p>
  <p> And also, 
    I wanted to see what happened when he flipped his match into that garbage 
    barrel. I had reason to suspect that it would become the most exciting event 
    of the morning.</p>
  <p> He fished 
    a book of matches out of his shirt pocket and went on.</p>
  <p> "If Sally 
    May wants to have a yard dance, that's fine with me, but why do I have to 
    haul the dadgummed trash and help clean up for it? I ain't going to the silly 
    dance. There's 57 things I'd rather do."</p>
  <p> He tore a match out of the book and ran the paper end through his teeth. "A cowboy 
    hauling trash! Times sure have changed, dogs, and not for the better. These 
    outfits today, they've got no appreciation for what a cowboy can do or how 
    much money he's got tied up in leather and horseflesh.</p>
  <p> "Next thing you know, she'll want me to haul manure and spread it in her flower beds. 
    Well, when that day comes, boys, old Slim'll pack his saddle and move on to 
    a real horseback outfit that knows how to treat a cowboy."</p>
  <p> Boy, he 
    was sure worked up, and I could tell that he'd forgotten all about that can 
    of gasoline he'd poured into the barrel.</p>
  <p> I turned 
    to Drover, who was staring up at the clouds. "Son, pay close attention to 
    this."</p>
  <p> "What?"</p>
  <p> "I said, 
    pay close attention to this."</p>
  <p> "Oh. OK."</p>
  <p> "Why are 
    you staring at me?"</p>
  <p> "I don't 
    know. You said to pay close attention and that's what I'm trying to do."</p>
  <p> 'Pay close 
    attention to the garbage barrel, Drover, not to me."</p>
  <p> "Oh. Did 
    it say something?"</p>
  <p> "No. Garbage 
    barrels don't talk."</p>
  <p> "I didn't 
    think they did."</p>
  <p> "But this 
    one is fixing to explode."</p>
  <p> "No fooling?"</p>
  <p> "Just watch."</p>
  <p> Sure enough, 
    Slim struck the match and pitched it into the barrel and you'll see.</p>
</div>

<div class="serial" id="two">
<h2>Slim Gets Fired Up</h2>
<h3>Chapter 2</h3>
<img src="/images/dancingcowboy/pict_2.jpg" alt="the case of the dancing cowboy" />
<p>Slim's hat flew off and his head disappeared in a cloud of 
    fire. That trash barrel had become a trash cannon and it shot a column of 
    burning garbage straight up in the air. At that point, things began happening pretty fast. When his head reappeared out of the cloud, his beard and hair were on fire. Now that was something 
    to see. He slapped his face and head and got those fires out, and then he 
    started stomping out the other 35 fires that were burning in a circle around 
    the barrel.</p>
    <p> And then Drover went into action, which was a little hard to 
    believe since he and action seldom got together. But this time he sprang into 
    action.</p>
  <p> Would you like to guess what he did? He started chasing ashes 
    that were floating in the air, and I mean running after them and jumping up 
    and trying to bite them.</p>
  <p> Of all the crazy things the little mutt had done over the years, 
    this might have been the craziest. I mean, which would a sane and normal dog 
    chase ashes? It made no sense to me.</p>
  <p> I called him back. "Drover, come here. We need to have a talk." 
    He came padding up with a silly grin on his face. "Let's get right to the 
    point."</p>
  <p> "OK."</p>
  <p> "Why were you chasing ashes?"</p>
  <p> "Well I don't know. I never stopped to think about it."</p>
  <p> "You should think about it, son. Everything we do on this 
    ranch should have a reason. Otherwise we're not making good use of our time. 
    Time management is very important in our business."</p>
  <p> I waited. He continued to stare at me with that huge blank 
    in his eyes. "Well? Why were you doing it?"</p>
  <p> "I don't know. It just seemed the right thing to do, and it 
    looked fun and I did it."</p>
  <p> "That's no reason. Not only were you wasting valuable time, 
    but you looked ridiculous. What if someone pulled up and saw you doing that?
  <p> He hung his head. "I don't know."</p>
  <p> "They would think you were nuts, and that would reflect back 
    on me."</p>
  <p> "Gosh, I never dreamed that chasing a few ashes could cause 
    so much trouble."</p>
  <p> "Well, you didn't take the time to think through your behavior 
    to its logical extremities. Just for example, did you realize that you didn't 
    catch any of the alleged ashes you were chasing?"</p>
  <p> "I didn't?"</p>
  <p> "No, you certainly didn't. I observed the whole ridiculous 
    ritual and I know for a fact that you chased three ashes and missed every 
    one of them."</p>
  <p> "Well, I thought they might taste bad."</p>
  <p> "You thought " I shook my head and heaved a sigh. "Drover, 
    that's a lame excuse."</p>
  <p> "Yeah, but my leg's feeling better."</p>
  <p> "Be quiet and listen. If you're going to chase ashes, you 
    should catch them. That would give at least a shred of meaning to what is 
    otherwise an absurd exercise. Now, try it again and see if you can make a 
    catch or two."</p>
  <p> "Well my leg's been bothering me."</p>
  <p> "You just said it was better."</p>
  <p> "The pain comes and goes, and besides, I don't know how to 
    catch ashes in the air."</p>
  <p> I studied the little mutt with a gaze of purest steel. "Is 
    that the truth? You really don't know how to do it?"</p>
  <p> He raised his left paw. "Scout's honor."</p>
  <p> "OK, if you really don't know how to do it, I'll give you 
    a demonstration. But you must promise to pay close attention and take advantage 
    of this opportunity to improve your mind."</p>
  <p> "I will, Hank, Scout's honor."</p>
  <p> "You're a very lucky dog to have someone around who cares 
    about your mental development."</p>
  <p> "I know, and I sure am grateful."</p>
  <p> I began to loosen up the enormous muscles in my shoulders. 
    "Stand by for a demonstration of ash-catching. Watch and study your lessons."</p>
  <p> "OK, I'm all set."</p>
  <p> For a moment I watched Slim doing his polka on the Ring of 
    Fire. Then I turned to the task at hand, studied the pattern of ashes in the 
    air, and went through the Target Selection Procedure.</p>
  <p> I picked my target, punched in the numbers for range, bearing 
    and asparagus, locked in on Target Alpha, and then hit full throttle on all 
    engines.</p>
  <p> I went streaking toward the target and switched over to left 
    -- Off and Snap. Got that one, snatched him right out of the air. Then, in 
    a flash, I re-targeted and zoomed in on another. And another.</p>
  <p> Jump, snap. Jump, snap.</p>
  <p> You should have seen me blasting those ashes out of the sky.
  <p> If you've never seen a Blue Ribbon, Top-of-the-Line Cowdog 
    in action, you've </p>
  <p> Hmmm. Suddenly I realized that my mouth was filled with, well, 
    ashes, you might say. And they tasted pretty bad, and even though I tried 
    to push the cinders out with my tongue, the bad taste remained.</p>
  <p> And laughter?</p>
  <p> Loper had come down to the burn barrels and it appeared that 
    he and Slim had been watching me?</p>
  <p> Chasing ashes?</p>
  <p> And Drover, the little dunce who started all of this, had vanished 
    without a trace.</p>
  <p> He would pay for this.
  </p>
</div>
<div class="serial" id="three">
<h2>No Dance for the Cowboy</h2>
<h3>Chapter 3</h3>
<img src="/images/dancingcowboy/pict_3.jpg" alt="the case of the dancing cowboy" />
<p>Hey, let's get something straight right now. Just because a dog snaps at ashes, that doesn't mean ... One of the very most important functions 
    of a Head of Ranch Security is research and development. Your R&D work -- 
    (that's what we call it, R&D) -- your R&D work is terribly important to the 
    overall security program of the ranch, don't you see.</p>
    
  <p>We must constantly test 
    new procedures and techniques, otherwise we would never know that some are 
    better than others. All of the great minds of science have taken the risk 
    of testing new ideas.</p> 
  <p> Today, we remember only 
    their successes. We forget that they had the courage to test bold concepts 
    that others thought ridiculous -- and that they were laughed at and ridiculed.</p> 
  <p> Loper had a blue coffee 
    mug hooked in the finger of his right hand. Written on the side of it -- the 
    mug, not the finger or the hand -- written on the side of the mug were the 
    words, "Team Roping: America's Favorite Way of Going Broke."</p> 
  <p> And he was pointing 
    at me. "What do you reckon goes through a dog's mind that makes him want 
    to chase ashes?"</p> 
  <p> "Mind? I wouldn't bet 
    that Hank even has one. I think he was brain-dead at birth."</p> 
  <p> Very funny.</p> 
  <p> Certain people will 
    laugh at daring ventures, and the bigger the laugh the smaller the mind.</p> 
  <p> Yes, Slim and Loper 
    laughed at my latest experiment into Cinder Flotation and Airborne Ash Interception 
    procedures, but that was a tiny price to pay for the ...</p> 
  <p> Boy, those ashes really 
    left a lousy taste in my mouth. I couldn't get rid of it. I licked and spitted 
    ... spat ... spot ... sput ... and pawed my tongue, and by George, the terrible 
    taste remained. And, of course, the Small Minds loved it.</p> 
  <p> That was OK. I didn't 
    need their approval. Their hooting and laughing didn't bother me at all, and 
    Drover would pay for luring me into this.</p> 
  <p> And don't forget that 
    one of the Happy Cowboys had just blown up the garbage barrel, caught his 
    hair on fire, and had come close to torching the entire ranch.</p> 
  <p> With that, I will rest 
    my case.</p> 
  <p> Loper turned to Slim 
    and studied his burned hair and whiskers. "Your hair got burned."</p> 
  <p> "I noticed."</p> 
  <p> "You look pretty silly."</p> 
  <p> Slim dug into his jeans 
    pocket and pulled out a quarter. "Here. Go call someone who cares that I 
    look silly, 'cause I sure don't."</p> 
  <p> Loper took a sip of 
    coffee. "You should. You're going to a dance tonight."</p> 
  <p> "I can't come."</p> 
  <p> "Give me one good reason 
    why you can't come."</p> 
  <p> Slim hitched up his 
    jeans and glared at Loper. "No, I'll give you five reasons. First off, I 
    can't dance. Second, I don't want to learn. Third, I don't have a date. Fourth, 
    I couldn't get a date even if I wanted one, which I don't. And fifth, I just 
    had a grass fire in my hair and I look goofy."</p> 
  <p> Loper took another sip 
    of coffee. "I heard a rumor that Viola wants to come but doesn't have a date."</p> 
  <p> "I'm sorry to hear 
    that. She's a fine lady."</p> 
  <p> "She could teach you 
    the two step."</p> 
  <p> "No thanks."</p> 
  <p> "Sally May could trim 
    up your hair."</p> 
  <p> "No woman has ever 
    cut my hair and no woman is fixing to start. They don't know how to cut men's 
    hair."</p> 
  <p> Loper rolled his eyes. 
    "Who do you think cuts mine?"</p> 
  <p> "I thought you just 
    stuck your head into the lawnmower. That's what it looks like half the time."</p> 
  <p> "Well, I don't know 
    why I'm arguing. I don't care if you come to the dance or not."</p> 
  <p> "Good."</p> 
  <p> "We'll have twice as 
    much fun without you."</p> 
  <p> "Good."</p> 
  <p> "You can just stay 
    home with the dogs."</p> 
  <p> "Fine. Old Hank don't 
    care what my hair looks like, do you, Hankie?" He shifted his gaze to me. 
    I, uh, lowered my head and turned away. "Dumb dog."</p> 
  <p> Loper burst out laughing 
    and started back to the house. "See? Nobody wants to be around a crabby, 
    gripey, ill-tempered old bachelor cowboy, and that goes double for me."</p> 
  <p> "Fine."</p> 
  <p> "I hope you're miserable 
    all night."</p> 
  <p> "I'll be asleep, and 
    I'll enjoy every minute of it."</p> 
  <p> Loper went into the 
    house, muttering under his breath.</p> 
  <p> That left me and Slim. 
    I turned my back on him and refused to look him in the eye. He noticed.</p> 
  <p> "Well, what's wrong 
    with you?"</p> 
  <p> Nothing, nothing at 
    all. I would get over it.</p> 
  <p> "Is it my hair?"</p> 
  <p> No. His hair meant nothing 
    to me. It was just that ... OK, maybe I was disappointed that he was passing 
    up a chance to bring Miss Viola up to our ranch for the dance.</p> 
  <p> See, I'd been sweet 
    on Miss Viola for a long time. Remember the Halloween night when Slim asked 
    her over to his place for supper? We got along great that evening.</p> 
  <p> She liked dogs, and 
    she especially liked me. I won't say that we were exactly sweethearts -- me 
    being a dog and all -- but by George, any cowboy who'd pass up a chance to 
    take that fine lady to a dance was nuts.</p> 
  <p> And he didn't deserve 
    to have a loyal dog as a friend.</p> 
  <p> I tried to communicate 
    all these thoughts and feelings through slow wags of the tail and wounded 
    looks. I don't think Slim got the drift.</p> 
  <p> He was such a brick-head.</p> 
  <p> "Well," he said at 
    last, "I've done my duty as trashman. I'm going down to my place to fix what's 
    left of my hair. You want to go?"</p> 
  <p> No.</p> 
  <p> "You can stay the night."</p> 
  <p> Not interested.</p> 
  <p> "You can sleep inside."</p> 
  <p> A ranch dog had no business 
    ... actually, that sounded pretty good, but I was still angry and ...</p> 
  <p> "Seems to me I've got 
    an extra can of sardines that I've been saving for a doggie friend. What do 
    you think?"</p> 
  <p> Sardines? Ha! No way. 
    They give me indigestion ... although they sure tasted good, and it had been 
    months since I'd had a whole can of ...</p> 
  <p> OK, what the heck. He 
    needed a friend.</p> 
</div>
<div class="serial" id="four">
<h2>Goats Don't Eat Ketchup Bottles</h2>
<h3>Chapter 4</h3>
<img src="/images/dancingcowboy/pict_4.jpg" alt="the case of the dancing cowboy" />
<p>I raced to the pickup. 
    Slim hadn't gotten there yet to open the door but that was no big deal to 
    me. Hey, if they don't open the door, I can always jump through the ... 
    window, if it happens to be open, but when it's not I'll usually wait 
    for somebody to open the, uh, door. Which is what I did this time. I was in 
    no big rush. 
    </p>
    <p> Slim came along at his usual pace -- cold molasses. At the 
    pickup door, he leaned down and looked me in the eyes. "When the winder glass 
    is rolled up, pooch, you can't jump through it."
  </p><p> Yes, I knew that.
  </p><p> "And what makes you think you deserve to ride up front with 
    me anyways?"
  </p><p> Well, I ... at the time it had seemed ...
  </p><p> "You're just a dog, did you know that? Just a dog, and you're 
    five bales short of a full load of brains."
  </p><p> I, uh, didn't know how to respond to that.
  </p><p> "You snap at ashes and you run rabbits and you try to leap 
    through winder glass, and Hank, you're just dumb." He reached down and scratched 
    me behind the ears. "But so am I, so I reckon you're pretty well matched." 
    He opened the door. "Get up, Einstein, we've got work to do."
  </p><p> I leaped into the pickup and took my position of honor in the 
    seat. Then he called for Mister Stub Tail, who had come back down from the 
    machine shed, the treacherous little ...
  </p><p> He came in a slow walk and had to be lifted into the pickup 
    because of ... something. Short legs, tired blood, stunted growth, lack of 
    ambition.
  </p><p> He took his place in the seat between us. Slim fired up the 
    pickup and off we went on a new and exciting adventure.
  </p><p> "Where are we going?" Drover asked as we turned east on the 
    county road.
  </p><p> "Because I answer that, Mister Weasel, I want some information 
    out of you."
  </p><p> "Really? Gee, I hope I know the answer."
  </p><p> "You know the answer."
  </p><p> "Oh good. What's the question?"
  </p><p> "The question is, why did you suddenly vanish when Loper came 
    down to the trash barrel?"
  </p><p> "Well, let me think here. I was worried about all that fire."
  </p><p> "That is a bald-headed lie, Drover."
  </p><p> "That bad, huh?"
  </p><p> "Yes sir, that bad. You know very well why you left."
  </p><p> "Yeah, but if I told you, you'd get mad and then I'd feel guilty 
    about it, and I hate feeling guilty."
  </p><p> "You should feel guilty. What you did was shameful and chicken-hearted. 
    I mean, snapping at ashes was your deal from the start. I was an innocent 
    bystander who got involved by accident."
  </p><p> "Yeah, and accidents happen."
  </p><p> "But your leaving the scene of the accident was no accident, 
    Drover. You knew how stupid the whole thing looked and so you left me there 
    to become the scapegoat of their laughingstock."
  </p><p> "I met a goat once. He ate rose bushes."
  </p><p> I glared daggers at the little mutt. "Don't try to change the 
    subject."
  </p><p> "Just think about swallowing all those thorns."
  </p><p> "Don't tell me what to think. I don't care what goats eat."
  </p><p> "I've heard they'll eat tin cans."
  </p><p> "Drover, answer the question immediately."
  </p><p> His gaze wandered out the window. "I guess I forgot the question."
  </p><p> "The question, you moron, is ... " Hmmm, I seemed to have forgotten 
    the question myself. "Something about goats."
  </p><p> "Oh yeah, you asked me if I'd ever met a goat before."
  </p><p> "I asked about goats?"
  </p><p> "You sure did, I heard you myself, and his name was Billy."
  </p><p> "Wait a minute, back up. Who was this Billy character?"
  </p><p> "He was a goat."
  </p><p> "Ah yes. Billy goat. I'm beginning to see a pattern unfolding 
    here."
  </p><p> "And he ate tin cans and ketchup bottles."
  </p><p> "That's very interesting. They're amazing creatures, aren't 
    they? Well, Drover, there's an important lesson here. If a goat can find nourishment 
    in a ketchup bottle, many things are possible in this old world."
  </p><p> "Yeah, and we can all learn a lesson from that."
  </p><p> "Exactly." I blinked my eyes and shook my head. "I think I've 
    been working too hard lately."
  </p><p> "Yeah, and being late to work is hardly working at all."
  </p><p> "I've noticed a certain scrambled pattern in my brain waves."
  </p><p> "Boy, I love scrambled eggs."
  </p><p> I stared at him for a moment. "And Drover, I'm beginning to 
    suspect that talking to you has something to do with it."
  </p><p> "Thanks, Hank."
  </p><p> "Because trying to carry on an intelligent conversation with 
    you would scramble anyone's brain waves. You see, I really don't care about 
    goats."
  </p><p> "Me neither."
  </p><p> "Or what they eat."
  </p><p> "Oh, they'll eat anything."
  </p><p> "And since neither one of us seems to care about goats or what 
    they eat, why don't we just drop the subject and never talk about it again?"
  </p><p> "Fine with me. Where are we going?"
  </p><p> "Insane, Drover."
  </p><p> "I'll be durned. I've never been there before."
  </p><p> "Ha! You've been there so long, you can't find your way back 
    home."
  </p><p> "Yeah, and I'm already missing the machine shed."
  </p><p> "Drover?"
  </p><p> "Yes?"
  </p><p> "Shut. Up. Now."
  </p><p> At last he shut up and I was able to concentrate on what we 
    were doing and where we were going.
  </p><p> We drove down the county road until we came to Slim's mailbox. 
    He pulled over and checked the box. He leafed through the contents -- two 
    grocery store circulars, a pictureshow calendar, an appeal for contributions 
    from the Polio Foundation, and a giveaway offer from somebody who promised 
    to make him rich.
  </p><p> He didn't waste much time on the grocery store circulars and 
    he got a good chuckle out of the appeal for funds.
  </p><p> "If they're writing me for money, they have definitely come 
    to the goat's house to get wool."
  </p><p> Goats? I shot a glance at Drover to see if he would pick up 
    on it. He waasn't listening.
  </p><p> Good. I had heard and said everything about goats that I ever 
    wanted to hear or say, and I didn't believe that baloney about goats eating 
    ketchup bottles anyway.
  </p><p> Goats don't eat ketchup bottles.</p>
</div>
<div class="serial" id="five">
<h2>Yummy Sardines</h2>
<h3>Chapter 5</h3>
<img src="/images/dancingcowboy/pict_5.jpg" alt="the case of the dancing cowboy" />
<p>Slim slammed the mailbox 
    shut -- that's kind of a tongue-twister, isn't it? And turned onto the little 
    road that led to his house. When we reached the front door, he pushed it open 
    and said, "Get in there, dogs, and catch a mouse." 
    I went streaking inside. Drover went inside, too, but he didn't "streak." 
    He lollygagged around, as he usually does, and at that speed he couldn't catch 
    a mouse even if the mouse threw up his hands and surrendered. </p>
   <p> Paws, I guess. Threw up his paws. Mice don't have hands, see.
  </p><p> Right away, I flushed out three head of mice and chased one 
    of them to the three sacks of trash sitting beside the back door. He dived 
    into the trash and so did I.
  </p><p> My goodness, what a mess. The mouse managed to escape -- I 
    mean, who could find a little mouse in that mountain of garbage? -- the mouse 
    managed to escape, but only by the tiniest of margins.
  </p><p> Unfortunately, the three sacks of garbage didn't manage to 
    escape and they, well, became "re-arranged," shall we say, all over the 
    west side of the kitchen.
  </p><p> Sardine cans. Vienna sausage cans. Bean cans. Cans filled with 
    cold bacon grease and cigar butts and coffee grounds.
  </p><p> Yes, the, uh, rearrangement caused quite a mess.
  </p><p> I was standing there, giving the area one last noseatory scan, 
    when Slim walked up. "That's probably enough, Hank. I'm sorry I brought up 
    the subject of mice."
  </p><p> He opened up one of the cabinet doors and reached for a can 
    of... something. Ah ha, it was the sardines he had promised. He looked back 
    at me and grinned. "You ready for this, pooch?"
  </p><p> All at once, my tongue shot out and swept across my lips.
  </p><p> Slim laughed and held up a small, flat can. Again, my tongue 
    shot out and swept my lips. It appeared that my mouth had begun to water, 
    so to speak.
  </p><p> "Yummy sardines."
  </p><p> I moved my front feet up and down. A whine leaped out of my 
    throat, and yes, my mouth was watering like crazy. Could we hurry this deal 
    up?
  </p><p> He squinted his eyes at the can. "There's just one little 
    problem, Hankie. This can's pooched up in the middle, which means the sardines 
    might be spoilt."
  </p><p> No problem there. Shucks, I ate spoiled sardines all the time, 
    and could we hurry up?
  </p><p> "That's why I saved 'em for you, but I don't want you getting 
    sick in my house."
  </p><p> Sick? That was ridiculous. No dog in history had ever gotten 
    sick on sardines. I could almost taste 'em, yummy sardines.
  </p><p> "Well, I reckon we can give it a try, but if you get to feeling 
    sick, let me know."
  </p><p> Sure, you bet, anything at all.
  </p><p> He opened the can and set it down on the floor. Right away, 
    I turned a menacing glare towards Drover and showed him some fangs. "These 
    are my sardines, pal, so don't even think what you're thinking."
  </p><p> "I was just thinking that sardines make me sick."
  </p><p> "Fine. Go chase your tail."
  </p><p> Having disposed of Drover, I turned back to my feastly treasure 
    and ... wow! Those were some wonderful-smelling sardines, and I was so excited 
    that my legs were quivering.
  </p><p> Sardines packed in oil. My favorite kind.
  </p><p> Slim watched with a lopsided grin as I tore into those yummy 
    delicious awesomely wonderful sardines. I gobbled them in huge bites, hardly 
    noticing that, yes, they had a slightly rancid taste to them.
  </p><p> Maybe they were a little past their prime, but that was no 
    big deal. As you may know, we dogs have a digestive system that allows us 
    to eat many food items that would make others ill.
  </p><p> Great sardines! Don't know as I'd ever had better, which just 
    went to prove what I'd always said: A little age on a sardine don't hurt a 
    thing.
  </p><p> Slim watched me eat awhile, then he got down on his hands and 
    knees and started picking up the garbage mess.
  </p><p> "I don't understand what brings these durned mice into my 
    house. You'd think a mouse would rather stay outside where it's nice and clean."
  </p><p> After finishing up the chunks of yummy sardines, I threw myself 
    into the task of licking the oil out of the can. See, I wanted to do my little 
    part to keep the house clean.
  </p><p> The only trouble with sardine cans is that they don't stand 
    still. Every time you take a lick, they move across the floor. They're not 
    as fast as mice, but by George, you have to stay with 'em and chase them down.
  </p><p> A lot of your ordinary dogs don't have the patience to tackle 
    a major sardine job and stick with it to the end. They'll get tired of chasing 
    that can across the floor and just give up.
  </p><p> Not me. I followed it all the way across the kitchen and was 
    out in the middle of the living room when, suddenly and out of nowhere, I 
    heard a tap at the door.
  </p><p> Then someone said, 'Yoo-hoo, Slim? Are you home?"
  </p><p> Well, you know me. I'm never too busy to bark and I never make 
    careless assumptions about who's at the door. Fellers, I bristled up and barked.
  </p><p> And you'll never guess who it was.</p>
  </div>
<div class="serial" id="six">
	<h2>I Have a Visitor</h2>
	<h3>Chapter 6</h3>
	<img src="/images/dancingcowboy/pict_6.jpg" alt="the case of the dancing cowboy" />
	<p>I told you you'd never guess who it was. You guessed 
    Loper, right? Not even close. See, it was a woman's voice, therefore the person 
    was a ... well, a woman, of course. So your next guess was 
    Sally May, right? Wrong again. Sally May was a woman, all right, but not the 
    one at the door. </p>
    <p> Give up?</p>
  <p> OK. The 
    voice at the door belonged to a woman, and the woman just happened to be one 
    of my all-time true loves. No, not Beulah or Miss Camper or Missy Coyote, 
    the lovely princess, or ...</p>
  <p> By George, 
    that's a pretty impressive list, isn't it? You bet it is, and without seeming 
    to brag or boast, I could say that the list goes on and on.</p>
  <p> It was Miss 
    Viola, my lady friend ... OK, Slim's and my lady friend who lived down the 
    creek several miles -- the very lady about who or whom we had been discussing 
    that very day.</p>
  <p> Quite a 
    coincidence, huh?</p>
  <p> She liked 
    dogs, but the dog in particulary she liked the most was me. I mean, here was 
    a lady who would smile when she saw me, and she would call me over and scratch 
    me behind the ears and pull stickers out of my coat and let me stay inside 
    the house and sleep at her feet.</p>
  <p> Yes, she 
    was my kind of lady and here she was, standing at the door of Slim's house. 
    I went straight to her, gave her a big cowdog smile, and accepted a nice scratch 
    behind the ears.</p>
  <p>"Well, hello, 
    Hank. Is Slim around?"</p>
  <p> Yes, but 
    he was busy cleaning up garbage off the kitchen floor and we didn't need him 
    hanging around and trying to steal the attention from my lady friend, so, 
    uh, it would be OK with me if ...</p>
  <p> Rats. He 
    heard her voice and come into the living room, wiping his hands on his jeans. 
    I gave him a dark scowl but he didn't seem to notice.</p>
  <p>"Well, I'll 
    be durned. Morning, Viola, won't you come in and sit?"</p>
  <p> She continued 
    to stand in the door, clutching her handbag in both hands. "Well, I didn't 
    want to bother you."</p>
  <p>"You ain't, 
    believe me. Will you have a cup of coffee?"</p>
  <p>"Oh ... 
    well, I really shouldn't, but if it's already made ... "</p>
  <p>"Yes, it's 
    made. It's been made for three years. Here, sit yourself down."</p>
  <p> He pointed 
    to the big rocking chair beside the woodstove, but before she could sit, he 
    had to clear out a saddle and a pair of chaps.</p>
  <p> She sat 
    down on the edge of the chair and continued to hold her handbag, as though 
    she might run away at any moment. She seemed a bit uneasy about being there. 
    Maybe it was the clutter of the place that made her uncomfortable.</p>
  <p> While Slim 
    was banging around in the kitchen, I noticed her eyes moving around the house. 
    She saw the trail of dirty socks leading to the back bedroom. She saw the 
    two holes in the sheetrock, the pile of livestock papers on the floor, the 
    dead flies on the window sill, and the empty Vienna sausage cans scattered 
    around the room.</p>
  <p> I happened 
    to be watching her when she peeked into a coffee cup that was sitting on the 
    table. Her eyes widened when she saw that the coffee was covered with a skim 
    of white mold.</p>
  <p> I was embarrassed. 
    I mean, Slim was a terrible housekeeper and a lady of her quality had no business 
    wasting her time with him. But me, on the other hand ...</p>
  <p> Burp.</p>
  <p> Miss Viola 
    wrinkled her nose. "Hank, have you been eating ... sardines?"</p>
  <p> Who me? 
    Oh no, not me. I, uh, never ate such things, or very seldom. In other words, 
    Slim's house always smelled of sardines.</p>
  <p> I slid my 
    head onto her lap and looked up at her with eyes full of adoration.</p>
  <p> She reached 
    out a soft rose-petal hand and began scratching me behind the ears.</p>
  <p> Ah, sweet 
    and lovely lady. By George, if Slim was too thick-headed to take this fine 
    lady to the dance, I just might do it myself.</p>
  <p> He came 
    out of the kitchen with a cup of coffee in each hand. He gave her a cup. "You 
    want anything in your coffee?"</p>
  <p>"Oh, if 
    the cream and sugar is handy ... "</p>
  <p>"Sure, you 
    bet. Sit right there." He trotted back into the kitchen. "Viola, do you mind 
    if there's a few ants in your sugar?"</p>
  <p>"No ants, 
    thank you. Cream will be fine."</p>
  <p> The ice 
    box door opened and shut. Then we heard Slim say, "I don't know how long this 
    milk's been in here."</p>
  <p>"Oh, don't 
    bother. I usually take my coffee black anyway."</p>
  <p> He brought 
    the carton out and set it on the coffee table. Then he flopped down in the 
    chair across from Viola. She studied the date stamped on the top of the milk 
    carton and I saw her left eyebrow jump, ever so slightly.</p>
  <p> I wondered 
    what she had seen.</p>
</div>
<div class="serial" id="seven">
	<h2>Slim Serves Her Green Bean 
    Juice</h2>
	<h3>Chapter 7</h3>
	<img src="/images/dancingcowboy/pict_7.jpg" alt="the case of the dancing cowboy" />
	<p>Slim must have noticed, too. "Something wrong?" </p>
<p> "Did you buy this recently?"
  </p><p> "Well, yeah, last time I went to the store, must have been 
    last week or the week before. Why?"
  </p><p> "Oh, the date shows April 13."
  </p><p> 
    Slim squinted at the numbers. "Two months ago? Boy, these days sure run together, 
    don't they? Maybe you'd better not use it." 
	</p><p> "That's fine, Slim. I don't need the calories anyway." She 
    took a sip of her coffee and, fellers, there for a second I thought she was 
    going to jump out of her chair. She coughed and stared into the cup.
  </p><p> "Slim, I don't believe this is coffee."
  </p><p> "Really?" He took a slurp of his. "By gollies, it ain't. You 
    don't reckon I poured the green bean juice into the coffee pot, do you?" He 
    sampled it again. "Yep, that's what I done, all right. I hated to waste it, 
    you know, and couldn't find a clean jar to put it in, so I just ... here, 
    let me brew us up a cup of coffee from scratch."
  </p><p> "Oh no, I can't stay that long. Actually, I was just passing 
    by on my way home, and, well ... " Her eyes wandered up to the ceiling. " 
    ... my car started acting up. It came on all of a sudden, and I wondered if 
    you might have the time to look at it."
  </p><p> "Why yes, I'd be glad to. I'm no mechanical genius, but I work 
    cheap."
  </p><p> He slapped his hands down on his knees and pushed himself out 
    of the chair. That wasn't as easy as it might sound because the cushion in 
    that old chair just about swallowed anybody who sat in it.
  </p><p> He offered her a hand and helped her up. "Viola, I want you 
    to know that I've never served green bean juice to a lady before. I'm sure 
    sorry about that, but maybe I can fix your car."
  </p><p> "That would be wonderful."
  </p><p> "Me and kitchens don't get along so good."
  </p><p> She smiled. "Slim, what you need is ... "
  </p><p> "Yeah, I need a clean mason jar to hold my green bean juice."
  </p><p> He headed for the door. Miss Viola lingered for a moment, and 
    I'm almost sure that I saw her smile.
  </p><p> When we got outside, Slim already had the hood up on Miss Viola's 
    car. He had his elbows propped on the fender and was staring at the motor 
    with a dark expression on his face.
  </p><p> "Start 'er up and we'll see what she says."
  </p><p> Miss Viola climbed under the wheel and started the motor. Slim 
    cocked his ear and listened. "Yep, I can hear it. It's got a knock in the 
    motor, all right, and it sounds pretty serious."
  </p><p> "Oh, surely it's something simple. It happened all at once."
  </p><p> "I know, but that's how all these problems start. Kill it and 
    let me check the oil."
  </p><p> She turned it off and came around to watch. Slim reached into 
    the motor and came out with the dipstick. I knew what was coming. I looked 
    around for Drover, but the little dummy had stayed inside.
  </p><p> "Hank, come here."
  </p><p> Well, there was nothing I could do but answer the call of duty. 
    I stepped forward and offered my ear to the cause. He wiped the dipstick on 
    my left ear, said, "Good dog," and plunged it back into the motor.
  </p><p> The dipstick, not my ear.
  </p><p> Miss Viola seemed to think this was funny. "Do you always wipe 
    the dipstick on Hank's ear?"
  </p><p> "Most usually. I've used the hair on his back before but the 
    ear is better." He brought the dipstick out again and squinted at it. "It 
    saves going for a rag or using my jeans. Huh. Oil's OK. Maybe the oil pump's 
    gone bad. We'd better tow it to town and get a mechanic to look at it."
  </p><p> "Oh my, surely it's not that bad."
  </p><p> "Yes ma'am, it sounded pretty bad to me."
  </p><p> She pressed her lips together. "But Slim, shouldn't you always 
    start with the simplest explanation first? A loose wire or something?"
  </p><p> "Well, yes, but when your engine is missing like this one is, 
    you can pretty well be sure that it's something serious."
  </p><p> "Now it seems to me that I've heard Daddy say something about 
    loose wires.
  </p><p> "Yes, ma'am, you do have wires and sometimes they get loose. 
    But they don't make the kind of sound this one is making. This motor's got 
    big troubles and we might as well find the nylon tow rope and start for town."
  </p><p> She placed her hands on her hips. "Slim, I'm just sure it's 
    not as bad as you think. It ran fine until ... well, it didn't start making 
    that funny noise until I reached your mailbox. Maybe if I started it again, 
    you could check it one more time."
  </p><p> "Well, I guess we could, but I'm pretty sure we're looking 
    at a major overhaul here. Fire it up."
  </p><p> Miss Viola started the car again, but this time she got out 
    and left it running. She joined Slim and they listened to it together.
  </p><p> "What is that clicking sound?" she asked.
  </p><p> "Oh, it could be a busted crankshaft or push rods or a scalded 
    piston. It ain't good, I can tell you that."
  </p><p> "Oh dear." She frowned at the motor for a moment. "Slim, what 
    is that little thing there?"
  </p><p> "What thing?" He learned over the fender. "That's a spark plug 
    wire."
  </p><p> "And ... does it do anything?
  </p><p> "Oh, sure, yeah. You've got to have your spark plug wires and 
    ... you know, that thing's worked loose."
  </p><p> Miss Viola looked away. "My goodness."
  </p><p> "Here, I'll just ... " He reached in and took hold of the spark 
    plug wire. That turned out to be a big mistake.</p>
</div>
<div class="serial" id="eight">
	<h2>A Shocking Experienc</h2>
	<h3>Chapter 8</h3>
	<img src="/images/dancingcowboy/pict_8.jpg" alt="the case of the dancing cowboy" />
	<p>"Eeee-Yowwwwwwww!" </p>
  <p> He'd been draped over the grill, see, but when the spark plug 
    wire shocked him, he sraightened up in a hurry and banged his head against 
    the hood. It knocked his hat off.
  </p><p> "By gollies," he said, rubbing the top of his head, "why don't 
    you kill that thing before it kills me?"</p>
    <p>
    Viola reached through the window and turned off the key. Then she came back 
    around to where Slim was rubbing the back of his head. "Slim, what on earth 
    happened?" </p>
  </p><p> "Well, them spark plug wires carry a pretty good jolt of electricity 
    and I kind of forgot what happens when you grab one with the motor a-going. 
    But now I remember."
  </p><p> "Oh dear. I'm sorry."
  </p><p> "No, it was my own fault for being dumb."
  </p><p> "How badly is your head hurt?
  </p><p> "Oh, bad enough to tell me not to do it again."
  </p><p> "Here, let me look at it."
  </p><p> "You can look, but I can already tell you that I ain't going 
    to the doctor for stitches."
  </p><p> "Hush and bend over."
  </p><p> He hushed and bent over, and she parted his hair and studied 
    the injury. "My stars, your hair's been burned."
  </p><p> "That came from a different deal. I was burning Sally May's 
    trash this morning and used a little too much gas."
  </p><p> She clicked her tongue. "You're too careless, Slim. You need 
    to take better care of yourself. Well, you've got a goose egg and a cut. Let's 
    go to the house and clean it up."
  </p><p> "It's OK."
  </p><p> "It's not OK. It's a deep cut and it's bleeding down the back 
    of your neck and you might need some stitches."
  </p><p> "I've got work to do, and I ain't going to ... "
  </p><p> "March to the house, Slim."
  </p><p> " ... no dadgum sawbones doctor."
  </p><p> "Now!"
  </p><p> He picked up his hat and the three of us started back to the 
    house. On the way, Miss Viola looked down at me and said, "Has he always been 
    this stubborn?"
  </p><p> Yes ma'am, always.
  </p><p> "I can't believe that a grown man could be so silly about going 
    to the doctor and getting a few little stitches."
  </p><p> "It ain't the stitches, Viola, it's the drive into town. And 
    I've got work to do."
  </p><p> "Oh fiddle." Inside the house, she made him sit down in the 
    living room. "Now, you sit right there while I get some hot water and a washcloth."
  </p><p> "The thermocouple's shot on the hot water heater."
  </p><p> "What does that mean?"
  </p><p> "You'll have to boil your water on the stove."
  </p><p> She blinked her eyes. "Oh. Kay. So we'll boil water on the 
    stove."
  </p><p> "But don't make it too hot."
  </p><p> She went into the kitchen. "Don't be such a baby."
  </p><p> "Well, it's my cut, and my cut says, 'Don't be throwing any 
    scalding water on me.' "
  </p><p>
  </p><p> 
  </p><p> "I'm trying to ignore you, Slim." She got the water going on 
    the stove and came back into the living room. "Now, we need a clean washcloth."
  </p><p> "Out on the clothesline."
  </p><p> She disappeared out the front door and returned a moment later 
    with two white washcloths and a towel. "Did you just do your laundry?"
  </p><p> "Two weeks ago."
  </p><p> She laughed. "Two weeks ago, and the clothes are still out 
    on the line?"
  </p><p> "I leave 'em out there until I need 'em. It saves folding and 
    finding a place for 'em."
  </p><p> "Slim, honestly."
  </p><p> "Well, it works. You ought to try it sometime."
  </p><p> "Bachelors. It's a wonder you're still alive."
  </p><p> "Survival of the fittest, I reckon. Them that's tougher than 
    germs will survive."
  </p><p> She got all her stuff and came up behind him. "Now, I'm going 
    to wash the cut with soap and water."
  </p><p> "Could we skip the soap?"
  </p><p> "No. It might sting a little bit, so grit your teeth and don't 
    complain." She went to work with her soft pretty hands, while old Slim bit 
    down on his lip and glared at the wall. "Does that sting?"
  </p><p> "Is the Pope Catholic? It feels like you're cleaning it out 
    with a hoof rasp."
  </p><p> "Well, it's a pretty nasty cut."
  </p><p> "It was fine 'til you put some soap on it."
  </p><p> "Please hush." She finished up her work and then hustled off 
    to the bathroom. She came back with a little red bottle of something. "Now, 
    hold still another minute and we'll be done. I'm going to put some antiseptic 
    on it."
  </p><p> "Will it burn?"
  </p><p> She glanced at the label on the bottle. "No. This is the kind 
    that doesn't burn."
  </p><p> "Good."
  </p><p> She dabbed some red stuff on the wound and stepped away. Slim's 
    eyes got bigger and bigger, and then he jumped out of his chair.
  </p><p> "Jeemanee crickets! I thought you said it wouldn't burn."
  </p><p> She smiled. "I misread the label."
  </p><p> "Yes, ma'am, I think you did. Either that or somebody lied."
  </p><p> "It won't burn for long, and it just might save you from an 
    infection."
  </p><p> "Right now, I'd go for the infection." He paced around the 
    room for a few minutes, fanning the back of his head. Then he dropped into 
    the chair again. "Whew, boy. That stuff's even worse than soap."
  </p><p> She watched him for a moment. "Slim, you really should go to 
    town and get a few stitches in that cut. It would heal faster if you did."
  </p><p> "I ain't going to the doctor."
  </p><p> "Then at least let me trim your hair."
  </p><p> His eyes swung around and locked on her. "Trim my hair? What 
    for?"
  </p><p> She closed her eyes for a moment, then patted him on the arm. 
    "Slim, sometimes it's hard to get a point across to you in a subtle way, so 
    let's talk man-to-man. With half your hair burned, you look ridiculous."</p>
	
</div>
<div class="serial" id="nine">
	<h2>Slim Gets a Haircut</h2>
	<h3>Chapter 9</h3>
	<img src="/images/dancingcowboy/pict_9.jpg" alt="the case of the dancing cowboy" />
	<p>They stared at each other 
    for a long moment. Then Viola said, "I'm sorry to be the one to tell you, 
    but it's true."
  </p><p> Slim's adam's apple moved up and down. "Well, a guy ought to 
    do everything he can not to look ridiculous, I reckon." She nodded. "Nobody 
    but a barber's ever cut my hair."
  </p><p> 
    "Do you want to go into town to the barber?" 
  </p><p> "Not really."
  </p><p> "And you don't want to go around looking like a scorched possum, 
    so ... were does that leave us?"
  </p><p> He smiled. "Scorched possum, huh? Does it really look that 
    bad?
  </p><p> "Why don't you go into the bathroom and look at yourself in 
    the mirror."
  </p><p> "Well, OK." He pushed up from the chair and shuffled into the 
    bathroom. He was in there for several minutes, then came back and flopped 
    into the chair. He handed her a pair of rusted scissors. "It does look pretty 
    strange. Are you sure you know how to cut hair?"
  </p><p> She rolled her eyes. "Slim, I've been cutting Daddy's hair 
    since I was 8 years old."
  </p><p> "Well ... OK."
  </p><p> And with that, Miss Viola went to work. Against incredible 
    odds and using only the scissors and a comb from her purse, she attempted 
    to make Slim the Cowboy look partly human.
  </p><p> She wrapped a towel around his neck, pinned it at the back 
    with a safety pin she'd found on one of his shirts, and went to work with 
    the scissors.
  </p><p> While she snipped at his hair, I curled up at her feet. This 
    was True Happiness, lying at the feet of ... burp ... a lovely lady, excuse 
    me."
  </p><p> The snipping stopped, and Viola said, "Slim, do you notice 
    a fishy smell in this house?"
  </p><p> "It's probably just my dirty socks. If I'd have known you was 
    coming, I'd have spent some time picking up the house. It's kind of a mess."
  </p><p> She gave her head a nod and her lips formed the word, "Yes." 
    Slim didn't see it but I did. And then I surrendered my body and mind to the 
    tide of sleep and drifted out into a delicious dream about ...
  </p><p> My goodness, what a delicious dream. I had taken Miss Viola 
    to the dance, see, and there we were in the moonlit yard, dancing the Texas 
    two-step and ... yikes!
  </p><p> Someone stepped on my tail.
  </p><p> "Hank, you're going to have to move. I can't cut Slim's hair 
    and stumble over you at the same time."
  </p><p> Huh?
  </p><p> I lifted my head and cracked one eye. Miss Viola was standing 
    over me, with her hands on her hips, and we weren't dancing any more. It appeared 
    that ...
  </p><p> "Hank, please move."
  </p><p> Oh. It appeared that I had gotten in the way of her lovely 
    little feet, so I jacked myself up and moved seven inches to the north and 
    flopped down on the floor.
  </p><p> "Hank. Move."
  </p><p> Fine. I could take a hint, but it didn't seem fair that I had 
    to move while Slim got her full and undivided attention. I mean, I was the 
    one who had invited her to the dance ... OK, maybe it was just a dream but 
    ...
  </p><p> I moved my freight over to the stove, where Drover was curled 
    up in a little white ball. He raised his head and gave me his usual silly 
    grin.
  </p><p> "Oh, hi, Hank. What happened?"
  </p><p> "I was dancing with Miss Viola but she stepped on my tail, 
    so now she's giving Slim a haircut."
  </p><p> "Boy, you miss a lot when you take a nap."
  </p><p> "Exactly, which just proves a point I've made many times, Drover. 
    When you sleep all day ... "
  </p><p> The mutt was asleep again, which was fine with me. I had better 
    things to do than carry on a pointless conversation with him.
  </p><p> I spent the next 15 minutes casting adoring looks at Miss Viola, 
    and wondering when Slim was going to invite her to the dance. I mean, here 
    was a perfect opportunity. Surely he wouldn't let it pass. The minutes dragged 
    by. Miss Viola snipped and combed. Slim talked about horses and cattle, the 
    grass, the weather, and a bearing that had gone out on the stock trailer.
  </p><p> 喉nd all at once, the haircut was over.
  </p><p> While Viola swept up the hair on the floor, Slim went into 
    the bathroom and looked at himself in the mirror. He came back, all smiles.
  </p><p> "By gollies, Viola, you didn't have much to work with but you 
    sure did a fine job. I believe it's just as good as store-bought, or even 
    better 'cause ... "
  </p><p> I held my breath and waited for him to finish the sentence: 
    " 'Cause you're a whole lot prettier than a barber." I knew that's what was 
    on the tip of his tongue, but durn his hide, he didn't say it.
  </p><p> You know what he said? He frowned, chewed his lip, shuffled 
    his boots around, started jingling the coins in his pocket, and turned red 
    in the face.
  </p><p> Miss Viola stared at him, waiting to hear the rest of the sentence. 
    "Yes? Because what?"
  </p><p> "Because ... " We were all waiting. Even Drover had raised 
    up to listen. "Because ... your haircuts are free."
  </p><p> I couldn't believe it.
  </p><p> What a clod. What a meathead.
  </p><p> The little smile on Viola's lips faded. A shadow seemed to 
    pass over her eyes. She went for her purse. Slim stared at the ceiling and 
    jingled his coins.
  </p><p> He'd had a perfect opportunity to give that fine lady a compliment, 
    and then to ask her to the dance, but he'd blown it, totally blown it.
  </p><p> "Because your haircuts are free."
  </p><p> No dog in history has ever made such a stupid statement or 
    smudged such a great opportunity. I was very tempted to bite him on the leg.
  </p><p> In fact, I made a vow to do just that. When Miss Viola left, 
    I would sneak up behind him and ...
  </p><p> All at once I kind of wished I hadn't eaten that last sardine.</p>
</div>
<div class="serial" id="ten">
	<h2>I Leave With Miss Viola</h2>
	<h3>Chapter 10</h3>
	<img src="/images/dancingcowboy/pict_10.jpg" alt="the case of the dancing cowboy" />
	<p>We went outside and walked 
    Miss Viola to her car. Slim had his hands pushed deep into his pockets and 
    continued to rattle his coins. 
  </p><p> Viola opened the car door and turned to Slim with a smile. 
    "Well, Slim, thanks for fixing my car."
  </p><p> He laughed at that. "Well, I didn't do much, as you noticed."
  </p><p> "You got shocked."</p>
 <p>
    "It don't take much brains to get shocked, Viola, but at least we found the 
    problem. And thanks again for the shearing. You're a good hair-cutter. What 
    I mean is ... " He frowned and kicked at a rock. "It's kind of nice, getting 
    your hair cut by a lady." 
  </p><p> Her eyes lingered on him, as though she expected more. When 
    it didn't come, she filled her lungs with air and looked up at the sky.
  </p><p> "Well, isn't this a beautiful day? Spring is such a wonderful 
    time of the year. It almost makes you want to ... kick up your heels and dance. 
    Doesn't it?"
  </p><p> Slim gave his head a nod. "Yeah, it's mighty nice. The old 
    cows have slicked off and are picking up weight. Horses are feeling frisky 
    and ... "
  </p><p> I didn't hear the rest of what he was saying, because at that 
    very moment it dawned on me that Miss Viola had left her door open. And both 
    she and Slim were looking up at the trees and the sky and weren't paying any 
    ...
  </p><p> Hmmm. If Slim wanted to spend the rest of his life talking 
    about cows, that was OK with me, but I had a better idea.
  </p><p> I slipped into Stealth Crouch Mode and in the blink of an eye 
    I had sneaked myself into Miss Viola's car -- on the floor between the seats, 
    where I became virtually invisible.
  </p><p> Heh heh.
  </p><p> The car door slammed. The motor started. We were driving away 
    and ... ork ... I found my thoughts turning to ... sardines. I mean, the car 
    was closed up and kind of warm, and there is a certain malady called "car 
    sickness," which I had never thought much about until ...
  </p><p> Remember all that oil in the can of sardines? It had tasted 
    delicious the first time around, but now, in a hot stuffy car that was swaying 
    back and forth ...
  </p><p> Fellers, I had a serious problem on my hands. Getting sick 
    on sardines in the back seat of a lady's car was no way to impress the lady. 
    I knew that, and yet ...
  </p><p> Ork. Ump.
  </p><p> How far was it to her house? Five miles? I sure hoped she would 
    chunk the coal to that car, because I was beginning to suspect ...
  </p><p> All at once I heard her voice. "Oh, you stupid old maid. You 
    should have known he wouldn't ask you out, so why did you throw yourslef at 
    him like a ... like a common hussy? Oh, I'm so embarrassed and humiliated. 
    I'll never go to a dance for the rest of my life. I'll just stay home and 
    rot."
  </p><p> It appeared that she was talking ... to herself. My goodness, 
    she was crying. And pounding her little fist against the steering wheel.
  </p><p> And all at once I understood what had happened.
  </p><p> She'd wanted to go to the dance with Slim, see, but she'd figured 
    out that he was too bashful to ask her, so she'd made up an excuse to "drop 
    by" his house Ñ she'd pulled off one of the spark plug wires, a clever little 
    trick that only a country girl would know about.
  </p><p> And then she'd found an opportunity to trim up his scorched 
    hair, which should have solved his main reason for not wanting to attend the 
    dance.
  </p><p> It was a nice idea and it should have worked, only Slim was 
    too ... I'd tried to tell him. I did all a loyal dog could do, but did he 
    listened to me? Oh no.
  </p><p> 
  </p><p> êAnd now he'd made her cry and had broken her sweet little 
    heart, and I should have bitten him on the leg when I had the chance, the 
    big oaf.
  </p><p> She wasn't a "common hussy" and she wasn't just an "old maid." 
    She was one of the sweetest, finest ladies I'd ever met, and why some cowboy 
    hadn't latched onto her years ago, I couldn't imagine Ñ except that some cowboys 
    (we won't mention any names) were just dumb.
  </p><p> All at once I forgot about Sardine Sickness and everything 
    else but her sadness. All my cowdog instincts came boiling to the surface, 
    and I hopped over the seat and laid my head in her lap.
  </p><p> "Ahhhhhhhh!"
  </p><p> My goodness, she almost wrecked the car when I appeared so 
    suddenly. She looked at me through tear-filled eyes ... and started laughing.
  </p><p> "Hank, what on earth are you doing in here?"
  </p><p> Well, I ... uh ... it was a little hard to explain, actually. 
    She gathered my head into her right arm and gave me a big hug. "Well, you 
    rascal, I guess we're pretty good pals, aren't we? And maybe you knew that 
    Viola made a fool of herself and needed a shoulder to cry on."
  </p><p> She pulled over to the side of the road, thank goodness, because 
    I had begun to worry about her hitting one of those big cottonwood trees.
  </p><p> She fished a tissue out of her purse and dabbed her eyes, then 
    blew her nose. To tell you the truth, I was a little shocked that such a cute 
    lady could make such a loud honk with her nose.
  </p><p> Then she stroked my ears and began talking. "You see, Hank, 
    my parents are up in years and need my help. I love them dearly and I'm glad 
    I can help them, but ... sometimes I want to go out and hear music and laughter. 
    And kick up my heels, just to see if I can still do it."
  </p><p> She took my face in her hands and looked into my eyes.
  </p><p> "You understand, don't you? Sometimes I think dogs are smarter 
    than people, and I'll bet a silver dollar that you would have invited me to 
    the dance, wouldn't you?
  </p><p> Yes ... ump ... ma'am, and what a lousy time to burp sardine 
    fumes in a closed car.
  </p><p> All at once her nose wrinkled and her eyes crossed. She rolled 
    down the window and began fanning the air with her hand.
  </p><p> "Hank, what on earth have you been eating?"
  </p><p> Well, uh, a can of rotten fish, it seemed. And no one regretted 
    it more than I.
  </p><p> I hate sardines, always have.
  </p><p> She leaned her head back against the seat and laughed and laughed. 
    "Oh Hank, this is too funny for words. At last I find a fellow who adores 
    me, but he turns out to be a dog who's been eating sardines.
  </p><p> She was laughing so hard that she didn't notice the dark shadowy 
    form that had suddenly appeared at her window.
  </p><p> It was a man.</p>

</div>
<div class="serial" id="eleven">
	<h2>A Stranger at the Window</h2>
	<h3>Chapter 11</h3>
	<img src="/images/dancingcowboy/pict_11.jpg" alt="the case of the dancing cowboy" />
	<p>Well, you know me. When 
    confronted by monsters, vampires, and shadowy forms that look like men, I 
    don't just sit there. I bark. 
  </p><p> Yes sir, I cut loose with a withering barrage of barking. I 
    bared my fangs and, by George, stood my ground and prepared to defend Miss 
    Viola with every ounce of ...
  </p><p> Slim?
  </p><p> 

    Couldn't be. We'd left him back at his house, and good riddance, too, the 
    cad. 
  </p><p> I studied the face again and growled a deep growl, just in 
    case ...
  </p><p> It was Slim, standing out there with a silly grin on his face. 
    Miss Viola seemed just as shocked as I. We both stared at him with wide eyes.
  </p><p> At last he broke the silence. "Somebody stole my dog."
  </p><p> I heard Viola gasp. "Why Slim, how can you say such a terrible 
    ... he must have crawled in my car while we ... " She stiffened and raised 
    the angle of her nose. "I can assure you that I didn't steal your dog."
  </p><p> He chuckled and patted her on the arm. "I'm only funning with 
    you, Viola, don't get your hackles up."
  </p><p> "Don't get my hackles up. Well, let me tell you something, 
    Mister Slim Chance ... "
  </p><p> "Before you tell me something, let me tell you something. Loper 
    and Sally May are having a little dance tonight. I know I ain't much fun and 
    I can't dance worth a flip, but ... would you care to go to the dance with 
    me? I mean, would you ever consider such a thing?"
  </p><p> There was a throbbing moment of silence. Then she started crying 
    again. "Oh Slim!"
  </p><p> His face fell like a load of rocks. "Good honk, I didn't figger 
    it would make you cry. I'll just gather up my dog and ... "
  </p><p> "Oh Slim, I'd love to go to the dance with you."
  </p><p> His adam's apple did three flips. "You would? You really would?"
  </p><p> "Of course I would. What girl wouldn't be honored?"
  </p><p> "Well, I could name about 3,000 that wouldn't, but thanks. 
    I can't dance but maybe I ain't too old to learn. I'll try."
  </p><p> "Don't you worry about dancing, Slim. We'll go and have us 
    a good time." She opened her door and turned to me. "Bye, Hank, and thanks 
    for listening to my troubles. You're a good dog."
  </p><p> On the way back to the house, Slim was in a jolly mood. He 
    whistled and sang all the way home, while I thought about greasy stinking 
    rotten fish.
  </p><p> Orp. Ump.
  </p><p> I tried to concentrate on happy thoughts, such as basking in 
    the warm glow of Miss Viola's last words to me: "You're a good dog." But it 
    was a struggle the fish were winning.
  </p><p> When we pulled up in front of the house, Slim shut off the 
    motor and sat there for a few minutes, smiling to himself and watching a robin 
    down by the creek.
  </p><p> "Ain't it something, the way one little bitty woman can raise 
    a feller's spirits? Heck, I feel like I could go chop three cords of wood 
    with a dull axe ... only I probably ought to take a bath and find some decent 
    clohtes to wear to this deal."
  </p><p> He opened the door and stepped out. "And you know what, pooch? 
    I never would have worked up the nerve to ask her out if she hadn't had that 
    much trouble with the spark plug wire. That's what I'd call bodacious good 
    luck."
  </p><p> I studied his face to see if he was joking. He wasn't. He never 
    figured it out, but that was OK. Maybe he wasn't supposed to.
</p>
 
</div>
<div class="serial" id="twelve">
	<h2>Epilogue</h2>
	<h3>Chapter 12</h3>
	<img src="/images/dancingcowboy/pict_12.jpg" alt="the case of the dancing cowboy" />
	<p>That's about all there 
    is to this yarn. Slim and Viola went to the dance (I went, too, in the back 
    of the pickup) and we had ourselves a grand old time. Dancing in the front 
    yard, Slim looked pretty ... 
  </p><p> 
    How can I saw this? He looked a wee bit awkward and uncomfortable, but Viola 
    told him that he danced as well as "Freddy Stair," whoever that might be. 
  </p><p> And you know what? I think he believed her, and after that 
    he didn't seem to care that he looked like a dancing scarecrow.
  </p><p> Happy ending and case cl ...
  </p><p> Oh, you're probably wondering what became of the sardines. 
    No problem. I took care of that whilest Slim was taking his bath. I, uh, downloaded 
    the material, so to speak, in a very private, secluded, unexplored region 
    of his ... uh ... house.
  </p><p> Under his bed, you might say. And it worked out fine for everyone. 
    That happened a month ago and Slim hasn't found it yet.
  </p><p> Although I've heard him say that he's had a lot of dreams about 
    fishing.
  </p><p> Happy ending. Case closed.
  </p><p> And anyway, it served him right for making Miss Viola cry.</p>
</div>
<ul class="roundednav">
<li><a href="#one">1</a></li>
<li><a href="#two">2</a></li>
<li><a href="#three">3</a></li>
<li><a href="#four">4</a></li>
<li><a href="#five">5</a></li>
<li><a href="#six">6</a></li>
<li><a href="#seven">7</a></li>
<li><a href="#eight">8</a></li>
<li><a href="#nine">9</a></li>
<li><a href="#ten">10</a></li>
<li><a href="#eleven">11</a></li>
<li><a href="#twelve">12</a></li>
</ul>