<h1>The Ranch Map</h1>
<h3>Get to know Hank's domain.</h3>
<%= javascript_include_tag "mapbox.min" %>
<script type="text/javascript"> 
    $(document).ready(function() { 
        $("#viewport").mapbox({mousewheel: true}); 
    }); 
</script> 
<p>Use your mouse's scroll wheel to zoom in on the map.<br />
Click-n-drag to move around the map.</p>

<div id="viewport"> 
    <div style="background: url(/images/map-small.jpg) no-repeat; width: 600px; height: 355px;"> 
        <!--top level map content goes here--> 
    </div> 
    <div style="height: 1280px; width: 2164px;"> 
        <img src="/images/map-giant.jpg" alt="" /> 
         <div class="mapcontent"> 
            <!--map content goes here--> 
        </div> 
    </div> 
</div> 

<h4>THE CAKEHOUSE</h4>
<p>Here is the cakehouse. The only cakes you will find at the cakehouse are for cows. Ranchers often refer to pelleted cattle feed as "cake" or "cow cake" or "cottonseed cake." The place on the ranch where feed is stored through the winter is the cakehouse. In #9: The Case of the Halloween Ghost the cakehouse is the scene of ghoulish sightings.
</p>
<h4>
THE CATTLEGUARD</h4>
<p>

This is a cattleguard. No, a cattleguard isn't a person. It is a device made of pipes. The pipes are placed over holes in the ground. Cattle and horses won't walk across the cattleguard but trucks and cars can easily zip across. Cattleguards replace gates in fences. Ranchers don't have to stop to open and close gates if they have a cattleguard. In #14: Monkey Business, Hank and Drover discover a rabbit that lives in the pipes while on Cattleguard Patrol.
</p>
<h4>
COWBOYS AND RANCHERS</h4>
<p>

This is Slim's house. Slim is a cowboy. Loper lives down the road. He is a rancher. Is there a really a difference between a cowboy and a rancher? Yes. Ranchers own or lease the land. Cowboys work for the rancher, usually for a monthly wage plus a house and beef. Hank usually refers to Loper and Slim as "the cowboys on this outfit," but Loper is actually a rancher. He and Sally May own the land, and Slim works for them as a cowboy. To a dog, of course, there is little difference between the two. In #26: The Case of the Kidnapped Collie, Slim and Loper attempt to repair the barn. In this scene, there's little difference between the two. In #21: The Case of the Vampire Cat, Loper is clearly in charge when he outlines plans for Slim to go up to the Dodges place to feed cattle.
</p>
<h4>
FARMS AND RANCHES</h4>
<p>

This is pasture land which gives readers a clue that Hank must live on a ranch. A ranch is primarily a livestock operation. Ranchland is native grass, the same grass that has been on the land for thousands of years. A farm consists of cultivated land; that is, the native grass has been plowed up and planted with crops. But wait! In #19: The Case of the Midnight Rustler, Hank is in an alfalfa field. Alfalfa is a cultivated crop. So, Hank's place is really a combination of ranch and farm. In fact, many modern ranchers have both.
</p>
<h4>
THE GAS TANKS</h4>
<p>

This is the gas tank where Hank sleeps after a long day's work. Most cowdogs earn their rest. What is a cowdog? There are many breeds of cowdog, including Border Collie, Blue Heeler, and Australian Shepherd. Cowdogs are found in many countries where ranching is common like Scotland, Australia, and New Zealand. A trained cowdog can be a valuable asset to a livestock operation, but that training requires a lot of time and patience from the rancher. Is Hank really a cowdog? The answer is shrouded in mystery. Hank refers to himself as a "top of the line, blue-ribbon cowdog." But, a dog-ologist (someone who really knows about dogs) would look at Hank's picture and probably call him a mutt. Bennie, a highly trained Border Collie visits Hank's ranch during roundup in #10: Every Dog Has His Day.
</p>
<h4>
COYOTES</h4>
<p>

The canyons are coyote country. Will coyotes really eat a ranch dog? Yes, they will. The relationship between ranch dogs and coyotes is interesting. Coyotes look very much like dogs, and even make a sound that resembles the bark of a dog. Dogs are fascinated by coyotes, and sometimes try to play with them. They usually find out that while coyotes look like dogs, they aren't dogs. They are wild animals. And yes, many a ranch dog has come home beaten, humbled, and wiser, after being jumped by a group of coyotes. Coyotes have been known to eat small dogs, and they have a real appetite for cats. In #1: The Original Adventures of Hank the Cowdog, Hank's fascination with Rip and Snort the Coyote Brothers leads him to leave the ranch and join the coyote tribe.
</p>
<h4>
THE PARNELL WATER GAP</h4>
<p>

The Parnell water gap runs across Wolf Creek about here. What is a water gap? A water gap is barbed wire fence that crosses a ravine or creek. It is constructed like a gate. When it rains hard and water comes rushing down the creek, it will take out the gap only and not a hundred yards of fence. After a heavy rain, ranchers and cowboys spend the next day or two "water-gapping" -- that is, repairing the gaps that have been washed out. In #5: Faded Love, Hank and Drover set out on a journey to visit Miss Beulah the Collie. They pass the Parnell Water Gap on their way to Beulah's place.
</p>
<h4>
THE SEPTIC TANK</h4>
<p>

Here is Emerald Pond. Houses in the country are not connected to a city sewage system so each household installs a septic tank. It is a large tank made of concrete, plastic, or fiberglass that is buried in the ground. Sewer lines from the house empty into it. Over a period of years, the tank sometimes fills up and water flows out of it, forming a pool in a low spot. On hot summer days, ranch dogs refresh themselves by taking a dip in the "Emerald Pond." Now you know where Hank gets his "deep, manly aroma." In #15: The Case of the Missing Cat, Hank tells Drover that the waters of Emerald Pond will cause his stub tail to grow.
</p>
<h4>
THE BUZZARDS</h4>
<p>

Buzzards love the dead cottonwoods in the forest. They can also be found hanging around the canyon rims. Buzzards are carrion eaters which means that they live on dead animals. What happens when a buzzard encounters a live animal and must defend itself? They throw up! The contents of a buzzard's stomach is almost beyond description. If anyone or anything ever gets close enough to a buzzard to alarm him, he will show you the contents of his latest meal. As you might guess, buzzards don't have many natural enemies. In #3: It's a Dog's Life, Wallace and Junior the Buzzards are in a shallow cave while Rip and Snort the Coyotes are down below snarling at them. Wallace tells the coyotes to leave, and when they don't, he unloads on them.
</p>
<h4>
RATTLESNAKES</h4>
<p>

The discarded scrap metal around the machine shed is a great place for rattlesnakes to hide. How serious is the bite of a rattlesnake? These snakes are the most common poisonous reptile in the American West. Their bite is always a serious affair. When ranch dogs are bitten, they sometimes go off to themselves and their condition isn't discovered for several days. They often survive with no treatment, but it's best to take them to a veterinarian. In #22: The Case of the Double Bumblebee Sting, Hank is bitten on the nose by a rattlesnake. Sally May takes him to the vet and he pulls through.
</p>