<h1>Editing Education Printout</h1>

<%= render 'form' %>
<div class="actions2">
<%= link_to 'Show', [:admin, @printout], :class => 'button2' %> 
<%= link_to 'Back', admin_edu_printouts_path, :class => 'button2' %>
</div>
